*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: General Sans;
}
html ,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #fff;
    color: black;
}
#theme{
    display: flex;
}
.theme-change{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 20px;
}

.theme{
    width: 30px;
    height: 30px;
    background-color: wheat;
    margin: 10px;
    border-radius: 50%;
    /* outline: none; */
    border: 1px solid royalblue;
   
}
.yellow{
    background-color: yellow;
}
.dark{
    background-color: black;
}
.white{
    background-color: #fff;
}
.orange{
    background-color: orange;
}

.time-box{
    width: 100%;
    height : 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-box h1{
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 5px -5px 5px gray;
}

.owner{
    float: right;
     margin: 20px;
 }
